<tr  id="<%= dom_id food %>">
			<th scope="row"><%= food.id %></th>
			<td><%= food.name%></td>
			<td><%= food.measurement_unit %></td>
			<td><%= food.price %>$</td>
      <td><%= food.quantity %></td>
			<td><%= link_to "View",  food_path(food.id), class: "btn btn-outline-info  fw-semibold fs-5 px-3" %></td> 
			<td><%= link_to "Delete",  food_path(food.id),  data: { "turbo-method": :delete, confirm: "Are you sure ?" }, class: "btn btn-outline-danger  fw-semibold fs-5 px-3" %></td>
</tr>